html{
  height: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body{
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a{
  text-decoration: none;
  color: #000;
}

.navbar{
  box-shadow: 0px 0px 18px 2px rgba(7, 13, 18, 0.2);
}

.nav_header a{
  font-weight: 500;
}

.btn_1{
  background-color: #90b0b8;
  color: #fff;
  border-color: #90b0b8;
  border-radius: 20px;
  padding: 5px 25px;
  font-weight: 500;
}

.btn_2{
  color: #90b0b8;
  border-color: #90b0b8;
  border-radius: 20px;
  padding: 5px 25px;
  font-weight: 500;
}

.btn_1:hover{
  background-color: #fff;
  color: #90b0b8;
}

.btn_2:hover{
  background-color: #90b0b8;
  color: #fff;
}

.img_cart img{
  width: 20px;
  height: 20px;
}

.parent_form{
  margin-top: 5%;
  margin-bottom: 5%;
  width: 500px;
}

.parent_form label{
  font-weight: 500;
}

.btn_log{
  border-radius: 35px;
  padding: 8px 45px;
  font-weight: 500;
}

.btn_log:hover{
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.btn_home{
  border-radius: 35px;
  padding: 8px 45px;
  font-weight: 500;
}

.btn_home:hover{
  background-color: #d4d5da;
  color: #000;
  border-color: #000;
}

.mb--20 {
    margin-bottom: 20px;
}
.mr--30 {
    margin-right: 30px;
}

.forgot-pass{
  color: #000;
}

.form_login{
  box-shadow: 0 0 7px rgb(0 0 0 / 15%);
  padding: 80px;
}

.title_login{
  font-weight: 700;
  margin-bottom: 40px;
}

.form__label_signup{
  margin-top: 15px;
  font-size: 15px;
}

.home_img_bg{
  background: url(/img/bg_home.jpg);
  /* background: #c2d5da; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 95%;
}

.books_img_bg{
  background: url(/img/bg_books.jpg);
  /* background: #c2d5da; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 85%;
}

.userpage_img_bg{
  background: url(/img/bg_oneBook.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50%;
  color: #fff;
}

.home_head{
  margin-left: 15%;
}

.home_head h1{
  font-size: 65px;
}

.books_img_bg h1{
  font-size: 65px;
  font-weight: 300;
  margin-bottom: 10px;
}

.books_img_bg p{
  font-size: 20px;
}

.form_head{
  background-color: #90b0b8;
  box-shadow: 0 0 7px rgb(0 0 0 / 25%);
  padding: 30px;
  border-radius: 5px;
}

.books_bestsellers{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin-bottom: 25px;
  box-shadow: 0 0 7px rgb(0 0 0 / 25%);
}

.card_bookname{
  height: 100px;
}

.books_bestsellers img{
  padding: 20px;
  border-radius: 25px;
  height: 400px;
}

.books_covers{
  text-align: center;
}

.btn_addcart{
  border-radius: 35px;
  padding: 5px 25px;
  font-weight: 500;
}

.price{
  display: flex;
  justify-content: space-between;
  height: 40px;
	line-height: 40px;
}

.price p{
  font-weight: 500;
  font-size: 20px;
}

.nav_bar{
  display: flex;
  justify-content: center;
  margin-top: -250px;
}

.nav_bar img{
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.nav_bar span{
  color: #000;
  opacity: 0.8;
  font-size: 18px;
}

.nav_bar_block{
  text-align: center;
}

.nav_bar_block:not(:last-child){
  margin-right: 50px;
}

.one_book{
  display: flex;
  justify-content: space-evenly;
}

.oneBook_img{
  /* background-color: #dfebe9;
  padding: 50px;
  border-radius: 10px; */
  text-align: center;
}

.oneBook_img img{
  border-radius: 10px;
  width: 465px;
  margin-right: -80px;
}

.oneBook_btn{
  display: flex;
}

.name_book p{
  font-size: 20px;
  color: #5b5b5b;
  margin-top: 20px;
  margin-bottom: 20px;
}

.one_book_price{
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 30px;
}

.book_description{
  margin-top: 20px;
}

.oneBook_btn img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.btn_fav_heart{
  font-size: 50px;
  margin-left: 15px;
  margin-top: -22px;
}

.btn_fav_heart:hover{
  color: #fd7474;
}

.oneBook_info{
  width: 40%;
  background-color: #dfebe9;
  padding: 50px;
  border-radius: 10px;
}


@media (max-width: 1200px) {
  .one_book{
    display: block;
    justify-content: center;
  }
  .oneBook_info{
    width: 100%;
    margin-top: 20px;
  }
  .oneBook_img img{
    margin-right: 0;
  }
  .oneBook_info {
      padding: 50px;
  }
}

@media (max-width: 1400px) {
  .oneBook_info {
      padding: 30px;
  }
}

/* ----cart------ */

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.bg-grey {
  background-color: #eae8e8;
}

@media (min-width: 992px) {
  .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

@media (max-width: 991px) {
.card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

/* ----endcart------ */


.tablinks{
  border: none;
  background: none;
}

#Orders{
  width: 80%;
}

.parent_form_book{
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
}

.form_login_book {
  box-shadow: 0 0 7px rgb(0 0 0 / 15%);
  padding: 50px;
}

td{
  word-break: break-all;
}

.edit_one_book{
  margin-right: 15px;
}

/* ---------- */



/* ---------- */

.footer_inf{
  display: flex;
  justify-content: space-around;
  color: #f8f9fa;
}

.credits{
  text-align: center;
  color: #fff;
  opacity: 0.6;
}

.featurette-divider {
  color: #fff;
}

footer{
  background: #90b0b8;
}
